<div class="d-flex justify-content-center bg">
  <nav class="navbar navbar-expand-md sticky-top ">
    <a class="navbar-brand title"> <i class="fas fa-store-alt"></i> TIENDAS</a>

    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#"
          >Todas las tiendas <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Ubicación geografica</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Busqueda personal</a>
      </li>
    </ul>
  </nav>
</div>

<div class="contenido">
</div>
