<div class="d-flex justify-content-center bg sticky-top">
  <nav class="navbar navbar-expand-md">
    <a class="navbar-brand title"> <i class="fas fa-home"> </i> RESUMEN</a>
  </nav>
</div>

<div class="contenido">
  <div class="row justify-content-center align-items-center contenedor">
    <div class="card-group d-block d-md-flex">
      <div class="card m-2" style="max-width: 200px;">
        <img
          src="../../../../../assets/img/icono-productos.png"
          class="card-img-top card-productos p-1 border"
        />
        <div class="card-body text-center">
          <h5 class="card-title">PRODUCTOS</h5>
          <p class="card-text">
            35
          </p>
        </div>
      </div>
      <div class="card m-2" style="max-width: 200px;">
        <img
          src="../../../../../assets/img/icono-ticket.png"
          class="card-img-top card-tickets p-1 border"
        />
        <div class="card-body text-center">
          <h5 class="card-title">TICKETS</h5>
          <p class="card-text">
            15
          </p>
        </div>
      </div>
      <div class="card m-2" style="max-width: 200px;">
        <img
          src="../../../../../assets/img/icono-empleado.png"
          class="card-img-top card-empleados p-1 border"
        />
        <div class="card-body text-center">
          <h5 class="card-title">EMPLEADOS</h5>
          <p class="card-text">
            25
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
